/*BUTTON HERO*/
.button-container {
  text-align: center;
}

.bubbly-button {
  background-color: var(--tertiary);
  color: var(--primary);
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  overflow: hidden; /* Oculta el efecto de burbuja fuera del botón */
  transition: all 0.3s ease-in-out; /* Duración y suavidad de la animación */
}

.bubbly-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--tertiary);
}

/*Cards*/
.info-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s; /* Agrega una transición suave a la escala */
}

.info-card:hover {
  transform: scale(
    1.1
  ); /* Aumenta la escala cuando el cursor pasa por encima */
}
