@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}

:root {
  --primary: #f6f6f6;
  --secondary: #110f0fd5;
  --tertiary: #bb053a;
  --hueso: #eee4d6;
  --caqui: #c2a490;
  --shiraz-50: #fff0f1;
  --shiraz-100: #ffe1e4;
  --shiraz-200: #ffc8d0;
  --shiraz-300: #ff9caa;
  --shiraz-400: #ff647e;
  --shiraz-500: #ff2e56;
  --shiraz-600: #f40a41;
  --shiraz-700: #ce0237;
  --shiraz-800: #bb053a;
  --shiraz-900: #930835;
  --shiraz-950: #530017;

  --pearl-bush-50: #faf6f2;
  --pearl-bush-100: #eee4d6;
  --pearl-bush-200: #e5d5c3;
  --pearl-bush-300: #d5ba9c;
  --pearl-bush-400: #c39974;
  --pearl-bush-500: #b68059;
  --pearl-bush-600: #a96e4d;
  --pearl-bush-700: #8d5841;
  --pearl-bush-800: #72493a;
  --pearl-bush-900: #5d3d31;
  --pearl-bush-950: #311e19;
}

body {
  background: var(--primary);
}

#toggle-menu,
.menu-label {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 3.75rem;
  position: fixed;
  background: var(--primary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navbar {
  gap: 10px;
  justify-content: center;
}
.header,
.nav-list {
  display: flex;
  align-items: center;
}

.header .nav-list {
  gap: 5rem;
  margin-right: 1.5rem;
}

.header .nav-list .nav-page,
.header .nav-list .nav-user {
  display: flex;
  gap: 2rem;
}

.nav-page a {
  font-size: 1rem;
  font-weight: 600px;
  color: var(--secondary);
}

.nav-page :hover {
  color: var(--tertiary);
  border-bottom: solid 2px #bb053a;
}

.nav-list .nav-user .logo-user {
  width: 20px;
}
.nav-list-sidebar {
  display: none;
}

.logo {
  height: 7.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.header label img {
  margin-right: 1rem;
}

/* MAIN*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* HERO*/

#hero {
  margin-top: 60px;
  padding: 50px 30px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 55%;
  gap: 1.75rem;
}

.hero-img {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.hero-tittle h2 {
  font-size: 1.75rem;
  font-weight: 600;
}
.hero-tittle h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--caqui);
}

.hero-text {
  font-size: 2rem;
  font-weight: 400;
}

/*BUTTON HERO*/
.button-container {
  text-align: center;
}

.bubbly-button {
  background-color: var(--tertiary);
  color: var(--primary);
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.bubbly-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--tertiary);
}

/*========================= ABOUT=============================*/
#about {
  width: 100%;
  background: var(--hueso);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
}

.about-text {
  width: 40%;
}

.about-text .about-title {
  font-size: 2.5rem;
  color: var(--caqui);
  text-align: left;
  margin: 1.5rem 0;
}

.about-text h3 {
  text-align: left;
  color: var(--secondary);
  font-size: 1.5rem;
  line-height: 2.2rem;
}
.about-container-img {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-img-1 {
  margin: 1rem;
}
.about-img-1 img {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5%;
}

.about-img-1 .porcion {
  height: 12rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.about-img-1 .cake-2 {
  height: 20rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.about-img-2 {
  margin: 1rem;
}
.about-img-2 img {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5%;
}

.about-img-2 .cupcake {
  height: 20rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.about-img-2 .cake-1 {
  height: 12rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/*======================INFO=====================*/
#info {
  padding: 70px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

#info h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--caqui);
}

.info-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
}

.info-card {
  background: var(--hueso);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 350px;
  height: 40%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.info-card:hover {
  transform: scale(1.1);
}

.info-card img {
  width: 125px;
  border-radius: 10%;
}

.info-card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--tertiary);
}

.info-card p {
  font-size: 1rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary);
  line-height: 1.75;
}

/*================CATALOG====================*/
#catalog {
  padding: 70px 0;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#catalog h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--caqui);
}

/*================CATEGORIES====================*/
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.category {
  color: var(--tertiary);
  border: solid 1px var(--tertiary);
  padding: 10px 15px;
  border-radius: 10%;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
}

.active {
  background: var(--tertiary);
  color: var(--primary);
}

/*================PRODUCTS====================*/

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 40px 0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #ccc;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background: var(--primary);
}
/*
.product:hover {
  transform: scale(1.02);
}
*/
.product img {
  width: 16rem;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product-info {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.product-top {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.product-mid .price {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--secondary);
  margin: 10px 0;
}

.product-mid .buy-button {
  background-color: var(--tertiary);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 10rem;
}

.buy-button:hover {
  background-color: #e7227e;
}

.btn-load {
  font-weight: 500;
  border: 2px solid var(--tertiary);
  background: none;
  color: var(--tertiary);
  padding: 10px 35px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.288);
}

.btn-load:hover {
  background: var(--tertiary);
  color: var(--primary);
}

/*================CONTAC====================*/

#contact {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}

.contact-form {
  flex: 1;
  padding: 1.5rem;
  width: 70%;
}

.contact-form form {
  margin-top: 1rem;
}
.contact-form h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.btn-form {
  background: var(--tertiary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-form:hover {
  background-color: #ff4500;
}

.contact-info {
  padding: 1.5rem;
  width: 50%;
}

.contact-info h2 {
  font-size: 24px;
  color: #333;
}

.contact-info p {
  font-size: 16px;
  color: #666;
  margin: 10px 0;
}

/*================FOOTER====================*/

footer {
  background-color: var(--hueso);
  text-align: center;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 10rem;
  height: 10rem;
}

.footer-links li {
  margin: 10px;
  display: inline;
}

.footer-links a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--tertiary);
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  color: #666;
}

.footer-social img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

.social-instagram,
.social-facebook {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-bottom {
  background-color: var(--caqui);
  padding: 10px 0;
}

.footer-bottom p {
  font-size: 14px;
  color: var(--primary);
}

